body{padding-top:60px;padding-bottom:40px}
.sidebar-nav{padding: 9px 0}
.error-message{color:#B94A48;margin-bottom:18px}
.form-error{border-color:#EE5F5B;color:#B94A48}
.pagination li{float:left;padding:0 14px;line-height:34px;border-right:1px solid;border-right-color:#ddd;border-right-color:rgba(0, 0, 0, 0.15)}
.pagination li a{float:none;padding:0px;line-height:0px;border:none}